* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

}

body {
    
    background-color: #bd9795;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* min-width: 1000px; */
    height: auto;
    margin: auto 10%;
}

nav {
    display: flex;
    gap: 10%;
    /* justify-content: space-between; */
    
    
}

.logo {
    padding-left: 75px;
    font-size: 55px;
    font-family: 'Aladin', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    list-style: none;
    text-decoration: none;
    color: rgb(46, 42, 42);
}

.menu {
    display: flex;
}

.menu li {  
    list-style: none;
    padding: 40px 56px;
    font-size: 28px;
    font-family: 'Aladin', cursive;
}


.menu li a:hover {
    text-shadow: 3px 2px 10px #312b2b;
    transition: 0.5s;
}

.menu li a {
    text-decoration: none;
    color: rgb(46, 42, 42);

}


.grid-wrapper {
    margin: 5% 15%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)) ;
}


.grid-wrapper a {
    text-decoration: none;
    color: #312b2b;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

}

.event-boxes{
    background-color: #af7a78;
    border: 2px solid #af7a78;
    padding: 20px;
    border-radius: 20px;
    box-shadow:0.5em 0.5em 0.5em -0.4em #4d4141;

}

.event-boxes:hover {
    box-shadow:0 0.5em 0.5em -0.4em #1f1818;

}

.text-box {
    display: flex;
    flex-direction: row;
    padding:10px 5px;
    justify-content: space-between;
    
}

.text-box p {
    font-size: larger;
}

.text-box a {
    color: rgb(17, 41, 63);
}

.text-box a:hover {
    color: #e3e6e9;
    font-weight: bold;
}

span {
    font-size: 18px;
    font-weight: 600;
}
























