* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    overflow: hidden;
}


.hero-img {
    background-image: url("Images/background.jpg");
    width: 100%;
    height: 2000px;;
    object-fit: cover;

}

.wrapper {
    margin: 0 11em;
}

svg.nightmode {
    /* width: 20px;
    height: 20px; */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1.2em;
    text-decoration: none;
    
   
}

.namelogo {
    margin-left: 4rem;
    text-decoration: none;
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: black;
    
    
}

.box {
    box-shadow: 10px 10px 16px rgb(133, 125, 125);
    width: 60%;
    height: 70%;
    margin-left: 4em;
    margin-top: 4rem;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    z-index: 1;

}

.box-img {
  position: relative;
  right: 70px;
  top: 15px;
  z-index: 2;
}


.menu-tabs {
    display: flex;
    
}

.navbar {
   

}



ul li {
    list-style-type: none;
    
}

.navbar ul li a{
    padding: .75em 2em;
    text-decoration: none;
    color: black;
    font-family: 'Kristi', cursive;
    font-size: 32px;
    font-weight: 500;
}

.hero-content {
    display: flex;
    
}

.right-part {
    margin: 2em 4em 4em 6em;
}

.desc1 {
    padding: 1em 0;
    font-size: 40px;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    
}

.desc2 {
    padding: 1em 0;
    font-size: 30px;
    font-family: 'Aladin', cursive;
    line-height: 50px;
}

.sociallogo {
    width: 400px;
    display: flex;
    gap: 2em;
    padding:3em 2em 2em 2em;
    margin-left:90px;
      
}



.semi-box {
    display: flex;
    padding-top:4em;
    gap: 4em;
    

}

.semi-box1, .semi-box2 {
    width: 25%;
    font-family: 'Aladin', cursive;
    font-size: 30px;
    padding: 0.8em;
    box-shadow: 5px -5px 16px rgb(102, 91, 91);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}



.semi-box1:hover {
    color: rgb(64, 114, 114);
}
    

.semi-box2:hover {
    color: rgb(64, 114, 114);
}



































/* @media only screen and (min-width: 750px){
    

    .wrapper {
        margin: 0 18em;
        
    }

}

@media only screen and (max-width: 750px){
    .wrapper {
        margin: 0 5em;
                
    }

   

} */










