* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
   
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #d6a9a6 0%, #eee9e9 101%);

    
}

.container {
    min-width: 1000px;
    min-height: 1500px;
    margin: auto 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    padding-left: 50px;
    font-size: 55px;
    font-family: 'Aladin', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    list-style: none;
    text-decoration: none;
    color: rgb(46, 42, 42);
}

.menu {
    display: flex;
}

.menu li {
    
    list-style: none;
    padding: 40px 60px;
    font-size: 28px;
    font-family: 'Aladin', cursive;
}


.menu li a {
    text-decoration: none;
    color: rgb(46, 42, 42);

}

.box-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    width: 100%;
    height: 70%;
    
    

}

.box {
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    
}

.links a {
    padding: 25px 15px 15px 15px ;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    
    
}

img {
    object-fit: cover;
    width: auto;
    height: 175px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgb(95, 69, 69);
    
}


.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.github {
    border: 2px solid transparent;
    box-shadow: 4px 4px 15px rgb(95, 69, 69);
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.github:hover {
    
    color: rgb(252, 252, 252);
    font-weight: bold;
}

.page {
    border: 2px solid transparent;
    box-shadow: 4px 4px 15px rgb(95, 69, 69);
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.page:hover {
    
    color: rgb(252, 252, 252);
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px

}