* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDEAEA;
    color: #3F3838;
    
}

body {
    padding-bottom: 50px;
}

.container {
    margin: 0 300px;

}



.navigation {
    display: flex;
    align-items: center;
    width: 100%;
}

.navigation_link {
    display: flex;
    align-items: center;
    margin-right: 64px;
}

.navigation:before {
    background-color: #3F3838; ;
    content: "";
    display: block;
    height: 2px;
    order: 2;
    width: 100%;
}

.navigation_list {
    align-items: center;
    display: flex;
    list-style: none;
    flex-shrink: 0;
    order: 3;
    margin-left: 55px;
    
}

a:link {
    text-decoration: none;
}

.navigation_list_items {
    padding-left: 11px;
    padding-right: 37px;
    

}


.name {
    font-family: 'Aladin', cursive;
    font-size: 64px;
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 4px;
    color: #3F3838;    
}

.inlink {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 100;
    margin-left: 10px;
    padding-bottom: 20px;
    color: #3F3838; 
}

.myintro {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #3F3838;
    margin-left: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-right: 197px;
}

.resume-subhead h2 {

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 15px;

}

.resume-groups {
    margin-right: 10px;
    padding-top: 42px;
    margin-left: 10px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;

}

.group1, .group2, .group3 {
    width: 90%;

}

ul li {
    list-style: none;
}


.groups-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

.groups-lists {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
}


hr {
    margin-left: 16px;
    
}

.education, .achievement {
    padding-top: 40px;
    margin-left: 10px;
    padding-bottom: 20px;

}


.education_lists, .achievements_lists {
    display: flex;
    flex-direction: row;
    line-height: 38px;
}


.year {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 45px;
}

.education_desc, .achievement_desc {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.education_desc_inst, .achievement_desc_inst {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.work {
    margin-left: 10px;
    padding-top: 40px;
}


.workgroup {
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-bottom: 20px;

}

.workplace {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 25%;
}

.workdescription {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
    width: 30%;

}























































